*{
    margin:0;
    padding:0;
}

.body{
    max-width: 600px;
    width:100%;
    margin:auto;
}

header{
    padding:10px;
    border-bottom: 1px solid gray;
}

nav {
    padding:10px;
    border-bottom: 1px solid black;
}

nav :first-child {
    border-bottom: 1px solid green;
}

.image-container{
    float:right;
    padding-top: 20px;

}
.content{
    padding:20px;
}

.content p{
    margin-bottom: 20px;
}